.avatar {
	width: 50px;
}

.menu-btn {
	width: 20px;
}

.comment-badge {
	vertical-align: middle;
}

.post-title {
  font-size: -webkit-xxx-large;
  color: darkslateblue;
  font-family: inherit;
  margin-top: 20px;
}

.post-created-info {
  font-style: italic;
  font-family: -webkit-pictograph;
  font-size: medium;
}

.post-text {
  color: #51C6EB;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: inherit;
  font-size: 20px;
}

.comments-list-header {
	font-family: serif;
}

.comments-list {
	padding-bottom: 25px;
	background-image: url(../img/cloud.png);
	background-repeat: no-repeat;
}

.comment-created-info {
  font-style: italic;
  font-family: -webkit-pictograph;
  font-size: small;
  line-height: 10px;	
}

.comment-summary {
  color: yellowgreen;
  font-weight: bold;
}

.comment-text {	
  font-size: 15px;
  font-style: italic;
}

.comment-primary-btn {
  background-color: yellowgreen;
  color: white;
  font-family: initial; 
}

.comment-label {
  color: yellowgreen;
  font-family: initial;
}

.comment {
  margin-bottom: 40px;
}
