<div class="blog-header">
    <h1 class="blog-title">Oksana's Blog</h1>
</div>

<div class="alert alert-warning" role="alert" ng-show="isWarning">{{warningMessage}}</div>

<button id="addPostBtn" class="btn btn-default post-btn post-primary-btn" ng-show="displayAddPostButton && !displayPostEditForm" ng-init="displayAddPostButton=true" ng-click="displayAddPostButton=false">
    Add post
</button>

<!-- Form -->
<form name="postForm" class="form-horizontal" role="form" ng-init="isPostFormValid=true">
    <label class="post-label" ng-show="!displayAddPostButton && !displayPostEditForm">New post</label>
    <label class="post-label" ng-show="!displayAddPostButton && displayPostEditForm">Your post</label>
    <div class="form-group" ng-show="!displayAddPostButton">
        <input ng-model="post.title" class="form-control" placeholder="Title" ng-style="requiredTitleErrorStyle" ng-change="validatePostForm()">
    </div>
    <div class="form-group" ng-show="!displayAddPostButton">
        <textarea ng-model="post.text" class="form-control" rows="3" placeholder="Your thoughts"></textarea>
    </div>
    <div class="form-group">
        <div class="required-message" ng-show="!isPostFormValid">Please, fill in title.</div>
        <button type="submit" class="btn btn-default post-btn post-primary-btn" ng-show="!displayAddPostButton && !displayPostEditForm" ng-click="addPost()">
            Add
        </button>
        <button type="submit" class="btn btn-default post-btn post-primary-btn" ng-show="!displayAddPostButton && displayPostEditForm" ng-click="updatePost()">
            Update
        </button>
        <button type="button" class="btn btn-default post-btn" ng-show="!displayAddPostButton" ng-click="cancelPostChanges()">
            Cancel
        </button>
    </div>
</form>

<div ng-show="displayAddPostButton">
    <ul class="blog-posts-list">
        <li ng-repeat="post in posts" ng-init="postToDeleteIndex=-1">
            <div class="blog-post row">
                <div class="col-md-9">
                    <h2><a class="blog-post-title" href="#/posts/{{post.id}}">{{post.title}}</a></h2>
                    <p class="blog-post-meta">by {{post.author}} on {{post.timestamp | date}}</p>
                    <p class="blog-post-text">{{getReductionText(post.text, 120)}}</p>
                </div>
                <div class="col-md-3">
                    <a class="pull-right" href="" title="To delete post">
                        <img class="menu-btn" src="../img/delete-button.png" alt="delete button" data-toggle="modal" href="#confirmDeletingModal" ng-click="setPostIndexToDelete($index)">
                    </a>
                    <a class="pull-right" href="#topContainer" title="To edit post" du-smooth-scroll>
                        <img class="menu-btn" src="../img/edit-button.png" alt="edit button" ng-click="showPostFormWithPostData($index)">
                    </a>
                </div>
            </div>
        </li>
    </ul>

    <!-- Modal -->
    <div class="modal fade" id="confirmDeletingModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeletingModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="blog-post-meta">Confirm the action</h3>
                </div>
                <div class="modal-body blog-post-text">
                    Are you about to delete a post?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default post-btn post-primary-btn" data-dismiss="modal" ng-click="deletePost()">
                        Yes
                    </button>
                    <button type="button" class="btn btn-default post-btn" data-dismiss="modal">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>

    <nav>
        <ul class="pager">
            <li><a href="" ng-show="pageNumber>0" ng-click="getNextOrPrevPosts('prev')">Previous</a></li>
            <li><a href="" class="pull-right" ng-show="isNextPostsExist" ng-click="getNextOrPrevPosts('next')">Next</a></li>
        </ul>
    </nav>
</div>
