<div>
    <div>
        <h3>{{post.title}}</h3>
        <h5>by {{post.author}} on {{post.timestamp | date}}</h5>
        <span>{{post.text}}</span>
    </div>
</div>

<h2>Comments <span ng-show="comments.length>0" class="badge comment-badge">{{comments.length}}</span></h2>
<ul>
    <li ng-repeat="comment in comments">
        <div ng-show="!displaycommentEditForm">
            <a>
                <img class="avatar" src="../img/noavatar.png" alt="no avatar">
            </a>

            <div>
                <h4>{{comment.summary}}</h4>
                {{comment.text}}
            </div>
            <a class="pull-right" href="" title="To delete comment">
                <img class="menu-btn" src="../img/delete-button.png" alt="delete button" ng-click="deleteComment($index)">
            </a>
            <a class="pull-right" href="" title="To edit comment">
                <img class="menu-btn" src="../img/edit-button.png" alt="edit button" ng-click="showCommentFormWithCommentData($index)">
            </a>
        </div>
    </li>
</ul>

<button class="btn btn-default" ng-init="displayAddCommentButton=true" ng-show="displayAddCommentButton" ng-click="displayAddCommentButton=false">
    Add comment
</button>

<!-- Form -->
<form name="commentForm" class="form-horizontal comment" role="form">
    <label ng-show="!displayAddCommentButton && !displayCommentEditForm">New comment</label>
    <label ng-show="displayCommentEditForm">Your comment</label>
    <div class="form-group" ng-show="!displayAddCommentButton">
        <input ng-model="comment.summary" class="form-control" placeholder="Summary">
    </div>
    <div class="form-group" ng-show="!displayAddCommentButton">
        <textarea ng-model="comment.text" class="form-control" rows="3" placeholder="Your comment"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default" ng-show="!displayAddCommentButton && !displayCommentEditForm" ng-click="addComment(); displayAddCommentButton=true">
            Post
        </button>
        <button type="submit" class="btn btn-default" ng-show="!displayAddCommentButton && displayCommentEditForm" ng-click="updateComment(); displayAddCommentButton=true; displayCommentEditForm=false">
            Update
        </button>
        <button class="btn btn-default" ng-show="!displayAddCommentButton || displayCommentEditForm" ng-click="clearCommentForm(); displayAddCommentButton=true; displayCommentEditForm=false">
            Cancel
        </button>
    </div>
</form>